<nav class="navbar">
    <div class="navbar-left">
        <a class="nav-link" routerLink="/home">Inicio</a>
        <a class="nav-link" routerLink="/acercaDe">Acerca de</a>
        <a class="nav-link" routerLink="/servicio">Servicios</a>
        <a class="nav-link" routerLink="/portafolio">Portafolio</a>
    </div>
    <div class="navbar-logo">
        <img class="logo" src="../../../assets/img-header/Logo.png" alt="Logo" />
    </div>
    <div class="navbar-right">
        <a class="nav-link" routerLink="/blog">Blog</a>
        <a class="nav-link" routerLink="/contactanos">Contáctanos</a>
        <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/login">Inicia sesión</a>
        <a class="nav-link" *ngIf="isLoggedIn" (click)="logout()">Cerrar sesión</a>
    </div>
</nav>