<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="portfolio-detail">
        <div class="div">
            <img class="rectangle" src="https://c.animaapp.com/4FX9uGYV/img/rectangle-536.svg" />
            <p class="text-wrapper">
                El 28 de junio de 2024, Angelly celebró sus XV años en un día lleno de magia y emociones. Su vestido
                púrpura
                resplandeció bajo el cielo, mientras subía las escaleras hacia un momento que marcará su vida para
                siempre.
                Cada detalle fue capturado con elegancia y dedicación
            </p>
            <div class="text-wrapper-2">GALERIA</div>
            <div class="text-wrapper-3">ANGELLY</div>
            <div class="text-wrapper-4">Category:</div>
            <div class="text-wrapper-5">28 Junio 2024</div>
            <div class="text-wrapper-6">Date:</div>
            <div class="text-wrapper-7">Xv Años</div>
            <img class="img" src="https://c.animaapp.com/4FX9uGYV/img/rectangle-538.svg" />
            <img class="rectangle-2" src="https://c.animaapp.com/4FX9uGYV/img/rectangle-539.svg" />
            <img class="rectangle-3" src="https://c.animaapp.com/4FX9uGYV/img/rectangle-540.svg" />
            <img class="rectangle-4" src="https://c.animaapp.com/4FX9uGYV/img/rectangle-541.svg" />
            <img class="rectangle-5" src="https://c.animaapp.com/4FX9uGYV/img/rectangle-544.svg" />
            <img class="vector" src="https://c.animaapp.com/4FX9uGYV/img/vector.svg" />
            <div class="text-wrapper-8">Más obras</div>
            <div class="overlap">
                <div class="text-wrapper-9">Inicio</div>
                <div class="text-wrapper-10">acerca de</div>
                <div class="text-wrapper-11">PORTFOLIO</div>
                <div class="text-wrapper-12">BLOG</div>
                <div class="text-wrapper-13">servicio</div>
                <div class="text-wrapper-14">contactanos</div>
                <p class="p">
                    “En Estudio Irwin, capturamos tus momentos más importantes con pasión y creatividad. Cada imagen
                    cuenta una
                    historia única.”
                </p>
                <img class="vector-2" src="https://c.animaapp.com/4FX9uGYV/img/vector-1.svg" />
                <img class="vector-3" src="https://c.animaapp.com/4FX9uGYV/img/vector-2.svg" />
                <img class="vector-4" src="https://c.animaapp.com/4FX9uGYV/img/vector-3.svg" />
                <img class="vector-5" src="https://c.animaapp.com/4FX9uGYV/img/vector-4.svg" />
                <p class="text-wrapper-15">Copyright 2024 Todos los derechos reservados</p>
                <img class="logo" src="https://c.animaapp.com/4FX9uGYV/img/logo@2x.png" />
            </div>
            <img class="rectangle-6" src="https://c.animaapp.com/4FX9uGYV/img/rectangle-453.svg" />
            <img class="rectangle-7" src="https://c.animaapp.com/4FX9uGYV/img/rectangle-467.svg" />
            <img class="rectangle-8" src="https://c.animaapp.com/4FX9uGYV/img/rectangle-473.svg" />
            <img class="rectangle-9" src="https://c.animaapp.com/4FX9uGYV/img/rectangle-454.svg" />
            <div class="overlap-group">
                <img class="rectangle-10" src="https://c.animaapp.com/4FX9uGYV/img/rectangle-511.png" />
                <div class="group">
                    <div class="overlap-group-2">
                        <div class="overlap-2">
                            <div class="text-wrapper-16">PORTFOLIO</div>
                            <img class="logo-2" src="https://c.animaapp.com/4FX9uGYV/img/logo-1@2x.png" />
                        </div>
                        <div class="text-wrapper-17">BLOG</div>
                        <div class="text-wrapper-18">contactanos</div>
                        <div class="text-wrapper-19">Inicia sesion</div>
                        <div class="text-wrapper-20">Inicio</div>
                        <div class="text-wrapper-21">Acerca de</div>
                        <div class="text-wrapper-22">servicio</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>