<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="calendario">
        <div class="div">
            <div class="overlap">
                <div class="frame">
                    <div class="frame-2">
                        <div class="frame-3">
                            <div class="text-wrapper">¿Necesitas agendar una cita?</div>
                            <img class="vector" src="https://c.animaapp.com/hmYzWmbD/img/vector-2.svg" />
                        </div>
                        <p class="p">
                            Selecciona la fecha que prefieras en el calendario y completa el registro. Nuestro equipo
                            estará
                            encantado de atenderte. ¡Haz tu cita ahora y asegura tu lugar!
                        </p>
                    </div>
                    <div class="frame-4">
                        <div class="month-selector">
                            <div class="text-wrapper-2">October 2024</div>
                            <img class="arrows" src="https://c.animaapp.com/hmYzWmbD/img/arrows.svg" />
                        </div>
                        <div class="calendar-events">
                            <div class="weekdays-weeks">
                                <div class="weekdays">
                                    <div class="text-wrapper-3">Mo</div>
                                    <div class="text-wrapper-4">Tu</div>
                                    <div class="text-wrapper-5">We</div>
                                    <div class="text-wrapper-6">Th</div>
                                    <div class="text-wrapper-7">Fr</div>
                                    <div class="text-wrapper-8">Sa</div>
                                    <div class="text-wrapper-9">Su</div>
                                </div>
                                <div class="week">
                                    <div class="text-wrapper-3">1</div>
                                    <div class="text-wrapper-10">2</div>
                                    <div class="text-wrapper-11">3</div>
                                    <div class="text-wrapper-12">4</div>
                                </div>
                                <div class="week-2">
                                    <div class="text-wrapper-13">5</div>
                                    <div class="text-wrapper-14">6</div>
                                    <div class="text-wrapper-15">7</div>
                                    <div class="overlap-group">
                                        <div class="text-wrapper-16">8</div>
                                    </div>
                                    <div class="text-wrapper-17">9</div>
                                    <div class="text-wrapper-18">10</div>
                                    <div class="text-wrapper-19">11</div>
                                </div>
                                <div class="week-3">
                                    <div class="text-wrapper-3">12</div>
                                    <div class="text-wrapper-20">13</div>
                                    <div class="text-wrapper-21">14</div>
                                    <div class="text-wrapper-22">15</div>
                                    <div class="text-wrapper-23">16</div>
                                    <div class="text-wrapper-24">17</div>
                                    <div class="text-wrapper-25">18</div>
                                </div>
                                <div class="week-4">
                                    <div class="text-wrapper-3">19</div>
                                    <div class="text-wrapper-26">20</div>
                                    <div class="text-wrapper-5">21</div>
                                    <div class="text-wrapper-27">22</div>
                                    <div class="text-wrapper-28">23</div>
                                    <div class="text-wrapper-29">24</div>
                                    <div class="text-wrapper-30">25</div>
                                </div>
                                <div class="week-5">
                                    <div class="text-wrapper-3">26</div>
                                    <div class="text-wrapper-31">27</div>
                                    <div class="text-wrapper-5">28</div>
                                    <div class="text-wrapper-22">29</div>
                                    <div class="text-wrapper-23">30</div>
                                    <div class="text-wrapper-32">31</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div-wrapper">
                    <div class="text-wrapper-33">Agendar Cita</div>
                </div>
            </div>
            <img class="rectangle" src="https://c.animaapp.com/hmYzWmbD/img/rectangle-513.png" />
            <img class="img" src="https://c.animaapp.com/hmYzWmbD/img/rectangle-512.png" />
        </div>
    </div>
</body>

</html>