<div class="container galeria-container">
  <!-- Sección 1: PRESESIÓN -->
  <div class="galeria-box">
    <a href="/dashboardC/detalle" class="galeria-link">
      <div class="titulo-imagen">
        <h2>PRESESIÓN</h2>
      </div>
      <img src="../../../assets/img-ggaleria/1.png" alt="Presesión" class="img-responsive imagen-galeria">
    </a>
  </div>

  <!-- Sección 2: PREBODA -->
  <div class="galeria-box">
    <a href="/dashboardC/detalle" class="galeria-link">
      <div class="titulo-imagen">
        <h2>PREBODA</h2>
      </div>
      <img src="../../../assets/img-ggaleria/2.png" alt="Preboda" class="img-responsive imagen-galeria">
    </a>
  </div>

  <!-- Sección 3: EVENTO -->
  <div class="galeria-box">
    <a href="/dasboardC/detalle" class="galeria-link">
      <div class="titulo-imagen">
        <h2>EVENTO</h2>
      </div>
      <img src="../../../assets/img-ggaleria/3.png" alt="Evento" class="img-responsive imagen-galeria">
    </a>
  </div>
</div>