<div class="container-fluid">
  <!-- Contenedor de la imagen de encabezado -->
  <div class="header-image">
    <img src="../../../assets/img-calendario/arriba.png" alt="Header Image" class="img-fluid w-100">
  </div>

  <!-- Contenedor del calendario -->
  <div class="calendar-container">
    <div class="card shadow-lg custom-card">
      <div class="card-header text-center">
        <h4>{{ months[selectedMonth] }} {{ year }}</h4>
        <div class="text-muted">Agenda tu cita para este mes</div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <!-- Flecha izquierda para el mes anterior -->
          <button class="btn btn-brown" (click)="changeMonth(-1)">
            <i class="fas fa-chevron-left"></i>
          </button>
          <!-- Flecha derecha para el mes siguiente -->
          <button class="btn btn-brown" (click)="changeMonth(1)">
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>

        <!-- Tabla del calendario -->
        <table class="table table-bordered text-center mt-3">
          <thead>
            <tr>
              <th *ngFor="let day of daysOfWeek">{{ day }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let week of weeks">
              <td *ngFor="let day of week" [ngClass]="{
                'bg-brown text-white': day === currentDay,
                'text-muted': !day
              }">
                <span *ngIf="day" (click)="selectDay(day)">{{ day }}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Botón de Agendar Cita dentro del contenedor -->
        <button class="btn-schedule w-100 mt-3" [routerLink]="'/dashboardC/agendar'">Agendar cita</button>
      </div>
    </div>
  </div>
</div>

<!-- Imagen de footer -->
<div class="footer-image">
  <img src="../../../assets/img-calendario/abajo.png" alt="Footer Image" class="img-fluid w-100">
</div>