<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="registrar">
        <div class="overlap-wrapper">
            <div class="overlap">
                <div class="overlap-group">
                    <div class="group">
                        <div class="rectangle"></div>
                    </div>
                    <div class="div">
                        <div class="group-2">
                            <div class="overlap-group-wrapper">
                                <div class="overlap-group-2">
                                    <div class="text-wrapper">Login</div>
                                    <div class="div-wrapper">
                                        <div class="text-wrapper-2">Register</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-wrapper-3">Bienvenido a Estudio Irwin</div>
                        </div>
                        <div class="group-3">
                            <div class="overlap-group-3">
                                <div class="text-wrapper-4">Ingresa tu Contraseña</div>
                            </div>
                            <div class="text-wrapper-5">Contraseña</div>
                        </div>
                        <div class="group-4">
                            <div class="overlap-2">
                                <div class="text-wrapper-6">Ingresa tu Correo Electronico</div>
                            </div>
                            <div class="text-wrapper-5">Correo Electronico</div>
                        </div>
                        <div class="group-5">
                            <div class="overlap-group-3">
                                <div class="text-wrapper-4">Ingresa tu Nombre</div>
                            </div>
                            <div class="text-wrapper-5">Nombre</div>
                        </div>
                        <div class="group-6">
                            <div class="overlap-3">
                                <div class="group-7">
                                    <div class="overlap-group-3">
                                        <div class="text-wrapper-4">Ingresa tu Contraseña nuevamente</div>
                                    </div>
                                    <div class="text-wrapper-5">Confirmar Contrseña</div>
                                </div>
                                <img class="invisible" src="https://c.animaapp.com/m0zA5MNY/img/invisible-1.svg" />
                            </div>
                        </div>
                        <div class="group-8">
                            <div class="overlap-4">
                                <div class="text-wrapper-7">Registrar</div>
                            </div>
                        </div>
                    </div>
                    <img class="img" src="https://c.animaapp.com/m0zA5MNY/img/group@2x.png" />
                    <div class="group-9">
                        <div class="text-wrapper-8">Estudio Irwin</div>
                        <p class="muestra-tu-gran-d-a">Muestra tu gran día de una manera <br />memorable e inolvidable.
                        </p>
                    </div>
                </div>
                <img class="logo" src="https://c.animaapp.com/m0zA5MNY/img/logo@2x.png" />
            </div>
        </div>
    </div>
</body>

</html>