<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="contact">
        <div class="div">
            <div class="overlap">
                <img class="rectangle" src="https://c.animaapp.com/coI2Gfuu/img/rectangle-467.svg" />
                <div class="rectangle-2"></div>
                <div class="text-wrapper">EMAIL</div>
                <div class="text-wrapper-2">DIRECCIÓN</div>
                <div class="text-wrapper-3">CONTACT</div>
                <img class="clarity-mobile-solid" src="https://c.animaapp.com/coI2Gfuu/img/clarity-mobile-solid.svg" />
                <img class="iconamoon-email-thin" src="https://c.animaapp.com/coI2Gfuu/img/iconamoon-email-thin.svg" />
                <img class="ei-location" src="https://c.animaapp.com/coI2Gfuu/img/ei-location.svg" />
                <div class="text-wrapper-4">4651281896</div>
                <div class="text-wrapper-5">irwinestudio2_gmail.com</div>
                <p class="callejon-romo">Callejon Romo #12o nte.<br />Barrio de Gpe, Rincón de Romos. Ags</p>
            </div>
            <div class="overlap-group">
                <img class="formkit-email" src="https://c.animaapp.com/coI2Gfuu/img/formkit-email.svg" />
                <img class="img" src="https://c.animaapp.com/coI2Gfuu/img/rectangle-512.png" />
            </div>
            <p class="ponte-en-contacto">PONTE EN CONTACTO CON NOSOTROS</p>
            <div class="text-wrapper-6">CONTACTANOS</div>
            <div class="overlap-2">
                <div class="text-wrapper-7">Telefono</div>
                <div class="rectangle-3"></div>
                <div class="text-wrapper-8">Tu nombre</div>
                <div class="rectangle-4"></div>
                <p class="p">Cuéntame sobre ti / plan del evento</p>
                <div class="rectangle-5"></div>
                <div class="text-wrapper-9">Dia del Evento</div>
                <div class="rectangle-6"></div>
                <img class="rectangle-7" src="https://c.animaapp.com/coI2Gfuu/img/rectangle-501.svg" />
                <div class="div-wrapper">
                    <div class="text-wrapper-10">Enviar</div>
                </div>
            </div>
            <p class="nunca-sabr-s-el">NUNCA SABRÁS EL VALOR DE UN MOMENTO HASTA QUE SE CONVIERTA EN UN RECUERDO.</p>
            <div class="text-wrapper-11">Consulta Ahora</div>
            <div class="overlap-3">
                <div class="text-wrapper-12">Inicio</div>
                <div class="text-wrapper-13">acerca de</div>
                <div class="text-wrapper-14">PORTFOLIO</div>
                <div class="text-wrapper-15">BLOG</div>
                <div class="text-wrapper-16">servicio</div>
                <div class="text-wrapper-17">contactanos</div>
                <div class="overlap-4">
                    <p class="text-wrapper-18">
                        “En Estudio Irwin, capturamos tus momentos más importantes con pasión y creatividad. Cada imagen
                        cuenta
                        una historia única.”
                    </p>
                    <p class="text-wrapper-18">
                        “En Estudio Irwin, capturamos tus momentos más importantes con pasión y creatividad. Cada imagen
                        cuenta
                        una historia única.”
                    </p>
                </div>
                <img class="vector" src="https://c.animaapp.com/coI2Gfuu/img/vector.svg" />
                <img class="vector-2" src="https://c.animaapp.com/coI2Gfuu/img/vector-1.svg" />
                <img class="vector-3" src="https://c.animaapp.com/coI2Gfuu/img/vector-2.svg" />
                <img class="vector-4" src="https://c.animaapp.com/coI2Gfuu/img/vector-3.svg" />
                <p class="text-wrapper-19">Copyright 2024 Todos los derechos reservados</p>
                <img class="logo" src="https://c.animaapp.com/coI2Gfuu/img/logo@2x.png" />
            </div>
        </div>
    </div>
</body>

</html>