<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="inicio">
        <div class="div">
            <div class="overlap">
                <div class="text-wrapper">View Gallery</div>
            </div>
            <div class="overlap-group">
                <img class="logo" src="https://c.animaapp.com/sFe5oWus/img/logo@2x.png" />
                <div class="text-wrapper-2">INICIO</div>
                <div class="text-wrapper-3">ACERCA DE</div>
                <div class="text-wrapper-4">PORTFOLIO</div>
                <div class="text-wrapper-5">BLOG</div>
                <div class="text-wrapper-6">SERVICIOS</div>
                <div class="text-wrapper-7">Contactanos</div>
                <p class="p">
                    “En Estudio Irwin, capturamos tus momentos más importantes con pasión y creatividad. Cada imagen
                    cuenta una
                    historia única.”
                </p>
                <img class="vector" src="https://c.animaapp.com/sFe5oWus/img/vector.png" />
                <img class="img" src="https://c.animaapp.com/sFe5oWus/img/vector-1.png" />
                <img class="vector-2" src="https://c.animaapp.com/sFe5oWus/img/vector-2.png" />
                <img class="vector-3" src="https://c.animaapp.com/sFe5oWus/img/vector-3.png" />
                <p class="text-wrapper-8">Copyright 2024 Todos los derechos reservados</p>
            </div>
            <div class="overlap-2">
                <img class="rectangle" src="../../../assets/img-home/Rectangle 511.png" />
                <div class="rectangle-2"></div>
                <p class="text-wrapper-9">Muestra tu gran día de una manera memorable e inolvidable.</p>
                <div class="text-wrapper-10">Estudio Irwin</div>
                <p class="text-wrapper-11">¡Hola! Bienvenidos a Estudio Irwin</p>
                <img class="vector-4" src="../../../assets/img-home/Vector 6.png" />
            </div>
            <img class="author-bio-photo" src="../../../assets/img-home/Author Bio Photo.png" />
            <p class="donde-cada-momento">
                Donde cada momento especial se convierte en un recuerdo eterno.”<br /><br />“En Estudio Irwin, nos
                dedicamos a
                capturar los momentos más importantes de tu vida. Ya sea una boda, unos XV años o cualquier otro evento
                especial, estamos aquí para hacer que tus recuerdos brillen con toda su magia y
                emoción.”<br /><br />“Nos
                apasiona estar presentes en esos instantes únicos, donde las sonrisas, las lágrimas de felicidad y la
                alegría
                se entrelazan. Cada evento es una historia, y nosotros estamos comprometidos a contarlo con imágenes que
                te
                hagan revivir cada sensación, cada suspiro y cada detalle.”
            </p>
            <div class="text-wrapper-18">“</div>
            <div class="text-wrapper-19">SERVICIOS</div>
            <div class="text-wrapper-20">¿Qué Ofrecemos?</div>
            <div class="overlap-5">
                <div class="text-wrapper-21">Sesiones</div>
                <div class="overlap-6">
                    <div class="text-wrapper-22">$1800</div>
                    <div class="text-wrapper-23">desde</div>
                </div>
                <div class="group">
                    <div class="div-wrapper">
                        <div class="inicio">
                            <a routerLink="/servicio" class="text-wrapper-24">Más Detalles</a>
                        </div>
                    </div>
                </div>
                <img class="OBJECTS" src="../../../assets/img-home/OBJECTS 1.png" />
            </div>
            <div class="overlap-7">
                <div class="text-wrapper-25">Paquetes</div>
                <div class="overlap-6">
                    <div class="text-wrapper-26">$15500</div>
                    <div class="text-wrapper-23">desde</div>
                </div>
                <div class="overlap-group-wrapper">
                    <div class="div-wrapper">
                        <div class="inicio">
                            <a routerLink="/servicio" class="text-wrapper-24">Más Detalles</a>
                        </div>
                    </div>
                </div>
                <img class="group-2" src="../../../assets/img-home/Group-2 1.png" />
            </div>
            <div class="text-wrapper-27">Historia Destacada</div>
            <div class="overlap-8">
                <div class="rectangle-3"></div>
                <div class="text-wrapper-28">Romina</div>
                <p class="text-wrapper-29">
                    “Romina celebró sus XV años en un lugar de ensueño. Capturamos cada momento mágico de su día
                    especial, desde
                    la emoción hasta la alegría, en imágenes que reflejan su belleza y juventud.”
                </p>
                <div class="text-wrapper-30">01</div>
            </div>
            <img class="rectangle-4" src="../../../assets/img-home/Rectangle 424.png" />
            <img class="rectangle-5" src="../../../assets/img-home/Rectangle 425.png" />
            <div class="text-wrapper-31">PORTFOLIO</div>
            <div class="overlap-9">
                <div class="rectangle-6"></div>
                <img class="hero-image" src="../../../assets/img-home/Hero Image.png" />
                <div class="rectangle-7"></div>
                <p class="text-wrapper-32">
                    “En Estudio Irwin, cada evento que capturamos es una oportunidad para contar una historia única. Nos
                    apasiona inmortalizar esos momentos especiales con un toque artístico, donde cada sonrisa, cada
                    mirada, y
                    cada detalle se convierte en un recuerdo eterno. Nuestro compromiso es hacer que tus momentos
                    brillen para
                    siempre.”
                </p>
                <div class="text-wrapper-33">Creativa, Apasionada, Artistica</div>
                <img class="vector-5" src="../../../assets/img-home/Vector-2 1.png" />
                <div class="rectangle-8"></div>
            </div>
            <div class="overlap-10">
                <img class="rectangle-9" src="../../../assets/img-home/Rectangle 427.png" />
                <div class="overlap-11">
                    <p class="text-wrapper-34">
                        Gracias a Estudio Irwin, mis XV años quedaron inmortalizados de una manera increíble. Cada
                        detalle fue
                        capturado con un estilo único, reflejando toda la emoción de ese día. Estoy más que agradecido.”
                    </p>
                    <div class="jorge">JORGE</div>
                    <div class="text-wrapper-35">“</div>
                </div>
                <div class="overlap-12">
                    <div class="rectangle-10"></div>
                    <img class="izquierda" src="../../../assets/img-home/izquierda 1.png" />
                </div>
                <div class="overlap-13"></div>
            </div>
            <div class="text-wrapper-36">Teestimonios de Clientes</div>
            <div class="overlap-14">
                <div class="text-wrapper-37">12</div>
                <div class="text-wrapper-38">Años de Experiencia</div>
            </div>
            <div class="overlap-15">
                <div class="text-wrapper-39">Eventos Capturados</div>
                <div class="text-wrapper-40">1000</div>
            </div>
            <div class="overlap-16">
                <div class="text-wrapper-41">6</div>
                <div class="reconocimientos">Reconocimientos&nbsp;&nbsp;<br />Obtenidos</div>
            </div>
            <div class="overlap-17">
                <div class="text-wrapper-38">Fotos Entregadas</div>
                <p class="element"><span class="span">10</span> <span class="text-wrapper-42">K</span></p>
            </div>
            <p class="text-wrapper-43">AYUDANDO A CREAR RECUERDOS INOLVIDABLES EN CADA EVENTO</p>
            <div class="overlap-18">
                <div class="text-wrapper-44">Leer más</div>
            </div>
            <img class="vector-6" src="../../../assets/img-home/vector2 1.png" />
        </div>
    </div>
</body>

</html>