<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="acerca-de">
        <div class="div">
            <div class="text-wrapper">MI HISTORIA</div>
            <div class="overlap">
                <p class="estudio-irwin-naci">
                    “Estudio Irwin nació de una profunda pasión por la fotografía y el deseo de capturar los momentos
                    más
                    importantes de la vida de las personas. Con más de 12 años de experiencia en el campo, hemos tenido
                    el
                    privilegio de ser parte de cientos de celebraciones, desde bodas mágicas hasta inolvidables XV años.
                    Cada
                    evento es una nueva oportunidad para contar una historia única, llena de emociones, detalles y
                    belleza.<br /><br />Lo
                    que comenzó como una pequeña aventura creativa ha crecido hasta convertirse en un estudio reconocido
                    por su
                    estilo artístico y su enfoque personalizado. Nos enorgullece ofrecer un servicio que no solo captura
                    imágenes, sino que también inmortaliza recuerdos que perduran para siempre. Cada sesión fotográfica
                    es
                    diseñada para reflejar la esencia de nuestros clientes, asegurándonos de que cada imagen cuente una
                    historia
                    auténtica.<br /><br />En Estudio Irwin, estamos comprometidos a ofrecer un servicio de calidad
                    excepcional,
                    donde cada detalle importa. Estamos aquí para ayudarte a recordar, a revivir y a atesorar tus
                    momentos más
                    especiales.”
                </p>
                <img class="vector" src="../../../assets/img-acercade/Vector.png" />
            </div>
            <img class="rectangle" src="../../../assets/img-acercade/Rectangle 434.png" />
            <img class="img" src="../../../assets/img-acercade/Rectangle 435.png" />
            <img class="rectangle-2" src="../../../assets/img-acercade/Rectangle 436.png" />
            <img class="rectangle-3" src="../../../assets/img-acercade/Rectangle 437.png" />
            <img class="author-bio-photo" src="../../../assets/img-acercade/Author Bio Photo.png" />
            <div class="text-wrapper-2">ACERCA DE</div>
            <div class="text-wrapper-3">Algunos Datos Sobre Mí</div>
            <div class="overlap-group">
                <img class="rectangle-4" src="../../../assets/img-acercade/Rectangle 442.png" />
                <div class="text-wrapper-4">3</div>
            </div>
            <div class="overlap-2">
                <img class="rectangle-4" src="../../../assets/img-acercade/Rectangle 443.png" />
                <div class="text-wrapper-5">2</div>
                <img class="linea" src="../../../assets/img-acercade/linea1 1.png" />
            </div>
            <div class="text-wrapper-6">1</div>
            <p class="experiencia-y-pasi-n">
                <span class="span"> Experiencia y Pasión<br /></span>
                <span class="text-wrapper-7">Con más de 12 años en la industria, he tenido el honor de capturar momentos
                    únicos para cientos de
                    clientes. Mi pasión por la fotografía me impulsa a siempre buscar la mejor luz, el mejor ángulo y,
                    sobre
                    todo, las emociones más puras.</span>
            </p>
            <p class="estilo-aut-ntico">
                <span class="span">Estilo Auténtico<br /></span>
                <span class="text-wrapper-7">Cada evento es una historia única, y mi objetivo es reflejar esa
                    autenticidad en cada fotografía. Me
                    especializo en capturar detalles que cuentan tu historia de una manera artística y
                    significativa.</span>
            </p>
            <p class="compromiso-con-la">
                <span class="span">Compromiso con la Calidad<br /></span>
                <span class="text-wrapper-7">Estoy comprometida a ofrecer un servicio de alta calidad, desde el primer
                    contacto hasta la entrega final.
                    Cada imagen es tratada con dedicación para que puedas atesorar tus recuerdos para siempre.</span>
            </p>
            <div class="text-wrapper-8">CONOCEME</div>
            <div class="overlap-3">
                <div class="div-wrapper">
                    <div class="text-wrapper-9">Reservar Ahora</div>
                </div>
                <div class="overlap-4">
                    <div class="rectangle-5"></div>
                    <p class="p">
                        Tu día especial es un evento único en la vida, y elegir al fotógrafo adecuado es esencial para
                        preservar
                        su magia durante años. Sería un honor para mí ser parte de tu día y capturar cada momento que
                        atesorarás
                        para siempre.
                    </p>
                    <img class="author-bio-photo-2"
                        src="../../../assets/img-acercade/Author Bio Photo-4.png" />
                    <img class="author-bio-photo-3"
                        src="../../../assets/img-acercade/Author Bio Photo-3.png" />
                </div>
                <div class="overlap-5">
                    <div class="text-wrapper-10">Tu Historia, Mi Lente</div>
                    <div class="text-wrapper-11">CREANDO RECUERDOS</div>
                </div>
            </div>
            <img class="author-bio-photo-4" src="../../../assets/img-acercade/Author Bio Photo-2.png" />
            <div class="overlap-6">
                <img class="logo" src="../../../assets/img-acercade/logo.png" />
                <div class="text-wrapper-12">inicio</div>
                <div class="text-wrapper-13">acerca de</div>
                <div class="text-wrapper-14">PORTFOLIO</div>
                <div class="text-wrapper-15">BLOG</div>
                <div class="text-wrapper-16">servicios</div>
                <p class="text-wrapper-17">
                    “En Estudio Irwin, capturamos tus momentos más importantes con pasión y creatividad. Cada imagen
                    cuenta una
                    historia única.”
                </p>
                <img class="vector-2" src="../../../assets/img-acercade/Vector 2.png" />
                <img class="vector-3" src="../../../assets/img-acercade/Vector-3.png" />
                <img class="vector-4" src="../../../assets/img-acercade/Vector-4.png" />
                <img class="vector-5" src="../../../assets/img-acercade/Vector-2.png" />
                <p class="text-wrapper-18">Copyright 2024 Todos los derechos reservados</p>
                <div class="text-wrapper-19">CONTACTANOS</div>
            </div>
            <div class="overlap-7">
                <div class="text-wrapper-20">
                    <a routerLink="/portfolio">Ver Portafolio</a>
                </div>
            </div>
            <img class="rectangle-6" src="../../../assets/img-acercade/Rectangle 511.png" />
        </div>
    </div>
</body>

</html>