<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="login">
        <div class="overlap-wrapper">
            <div class="overlap">
                <div class="group">
                    <div class="overlap-group">
                        <img class="rectangle" src="https://c.animaapp.com/oBz8crwI/img/rectangle-77.svg" />
                        <img class="img" src="https://c.animaapp.com/oBz8crwI/img/rectangle-78.svg" />
                        <div class="div">
                            <div class="text-wrapper">Estudio Irwin</div>
                            <p class="muestra-tu-gran-d-a">Muestra tu gran día de una manera <br />memorable e
                                inolvidable.</p>
                        </div>
                    </div>
                </div>
                <div class="group-2">
                    <div class="group-3">
                        <div class="overlap-group-wrapper">
                            <div class="overlap-group-2">
                                <div class="div-wrapper">
                                    <div class="text-wrapper-2">Login</div>
                                </div>
                                <div class="text-wrapper-3">Registrarte</div>
                            </div>
                        </div>
                        <div class="text-wrapper-4">Bienvenido a Estudio Irwin</div>
                    </div>
                    <div class="group-4">
                        <div class="group-5">
                            <div class="overlap-group-3">
                                <div class="text-wrapper-5">Ingresa tu Correo Electrónico</div>
                            </div>
                            <div class="text-wrapper-6">Correo Electrónico</div>
                        </div>
                        <div class="group-6">
                            <div class="overlap-2">
                                <div class="group-7">
                                    <div class="overlap-group-3">
                                        <div class="text-wrapper-5">Ingresa tu Contraseña</div>
                                    </div>
                                    <div class="text-wrapper-6">Contraseña</div>
                                </div>
                                <img class="invisible" src="https://c.animaapp.com/oBz8crwI/img/invisible-1.svg" />
                            </div>
                        </div>
                        <p class="p">
                            “En Estudio Irwin, capturamos tus momentos más importantes con pasión y creatividad. Cada
                            imagen cuenta
                            una historia única.”
                        </p>
                    </div>
                    <div class="group-8">
                        <div class="overlap-3">
                            <div class="text-wrapper-7">Iniciar</div>
                        </div>
                    </div>
                </div>
                <img class="logo" src="https://c.animaapp.com/oBz8crwI/img/logo@2x.png" />
            </div>
        </div>
    </div>
</body>

</html>