<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="blog">
        <div class="div">
            <div class="overlap">
                <img class="rectangle" src="https://c.animaapp.com/EFj0bemq/img/rectangle-490.svg" />
                <img class="img" src="https://c.animaapp.com/EFj0bemq/img/rectangle-491.svg" />
                <p class="text-wrapper">COSAS QUE NO DEBES OLVIDAR EN TU DÍA ESPECIAL</p>
            </div>
            <div class="text-wrapper-2">Category:</div>
            <div class="text-wrapper-3">12 de Julio 2024</div>
            <p class="p">
                Un símbolo del paso de la infancia a la juventud, la muñeca es un detalle tradicional que representa el
                último
                juguete de la quinceañera antes de su entrada al mundo adulto.
            </p>
            <p class="la-mu-eca-de-la">LA MUÑECA DE LA QUINCEAÑERA</p>
            <div class="text-wrapper-4">Date:</div>
            <div class="text-wrapper-5">Xv años</div>
            <div class="text-wrapper-6">Category:</div>
            <div class="text-wrapper-7">14 Abril 2024</div>
            <p class="text-wrapper-8">
                El pastel es el centro de atención en la mesa de postres, simbolizando la dulzura de este momento único
                en la
                vida de ella, lleno de detalles delicados y significado.
            </p>
            <div class="el-pastel-de-quincea">EL PASTEL DE QUINCEAÑERA</div>
            <div class="text-wrapper-9">Date:</div>
            <div class="text-wrapper-10">Xv años</div>
            <div class="text-wrapper-11">Category:</div>
            <div class="text-wrapper-12">28 Julio 2024</div>
            <p class="text-wrapper-13">
                El cambio de zapatillas es una tradición en la que ella deja atrás los zapatos infantiles para calzarse
                los
                primeros tacones, marcando su transición a la adultez.
            </p>
            <div class="text-wrapper-14">LAS ZAPATILLAS</div>
            <div class="text-wrapper-15">Date:</div>
            <div class="text-wrapper-16">Xv Años</div>
            <div class="text-wrapper-17">Category:</div>
            <div class="text-wrapper-18">24 Agosto 2024</div>
            <p class="text-wrapper-19">
                Un momento lleno de emoción, el regalo sorpresa es un detalle especial que ella recordará para siempre,
                escogido con amor y pensado para resaltar su personalidad.
            </p>
            <div class="text-wrapper-20">EL REGALO SORPRESA</div>
            <div class="text-wrapper-21">Date:</div>
            <div class="text-wrapper-22">Xv Años</div>
            <div class="text-wrapper-23">Category:</div>
            <div class="text-wrapper-24">3 Mayo 2024</div>
            <p class="text-wrapper-25">
                Un acto de fe y gratitud, las ofrendas para la iglesia simbolizan las bendiciones que ella recibe en su
                día
                especial, un momento solemne y significativo
            </p>
            <p class="las-ofrendas-para-la">LAS OFRENDAS PARA LA IGLESIA</p>
            <div class="text-wrapper-26">Date:</div>
            <div class="text-wrapper-27">Xv años</div>
            <div class="text-wrapper-28">Category:</div>
            <div class="text-wrapper-29">28 Julio 2024</div>
            <p class="text-wrapper-30">
                El ramo que ella lleva a la iglesia es un símbolo de pureza y devoción, un detalle que añade belleza y
                significado a la ceremonia religiosa
            </p>
            <p class="el-ramo-para-la">EL RAMO PARA LA IGLESIA</p>
            <div class="text-wrapper-31">Date:</div>
            <div class="text-wrapper-32">Xv años</div>
            <img class="rectangle-2" src="https://c.animaapp.com/EFj0bemq/img/rectangle-496.svg" />
            <img class="rectangle-3" src="https://c.animaapp.com/EFj0bemq/img/rectangle-497.svg" />
            <img class="rectangle-4" src="https://c.animaapp.com/EFj0bemq/img/rectangle-498.svg" />
            <img class="rectangle-5" src="https://c.animaapp.com/EFj0bemq/img/rectangle-499.svg" />
            <div class="text-wrapper-33">ULTIMAS HISTORIAS</div>
            <div class="text-wrapper-34">BLOG</div>
            <div class="overlap-group">
                <div class="text-wrapper-35">INICIO</div>
                <div class="text-wrapper-36">ACERCA DE</div>
                <div class="text-wrapper-37">PORTFOLIO</div>
                <div class="text-wrapper-38">BLOG</div>
                <div class="text-wrapper-39">SERVICIO</div>
                <div class="text-wrapper-40">CONTACTANOS</div>
                <p class="text-wrapper-41">
                    “En Estudio Irwin, capturamos tus momentos más importantes con pasión y creatividad. Cada imagen
                    cuenta una
                    historia única.”
                </p>
                <img class="vector" src="https://c.animaapp.com/EFj0bemq/img/vector.svg" />
                <img class="vector-2" src="https://c.animaapp.com/EFj0bemq/img/vector-1.svg" />
                <img class="vector-3" src="https://c.animaapp.com/EFj0bemq/img/vector-2.svg" />
                <img class="vector-4" src="https://c.animaapp.com/EFj0bemq/img/vector-3.svg" />
                <p class="text-wrapper-42">Copyright 2024 Todos los derechos reservados</p>
            </div>
            <div class="overlap-2">
                <img class="rectangle-6" src="https://c.animaapp.com/EFj0bemq/img/rectangle-511.png" />
                <div class="group">
                </div>
            </div>
        </div>
    </div>
</body>

</html>