<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
</head>

<body>
    <div class="portfolio">
        <div class="div">
            <div class="overlap">
                <img class="logo" src="https://c.animaapp.com/IEFEYurz/img/logo@2x.png" />
                <div class="text-wrapper">Inicio</div>
                <div class="text-wrapper-2">Acerca de</div>
                <div class="text-wrapper-3">PORTFOLIO</div>
                <div class="text-wrapper-4">BLOG</div>
                <div class="text-wrapper-5">servicio</div>
                <div class="text-wrapper-6">contactanos</div>
                <p class="p">
                    “En Estudio Irwin, capturamos tus momentos más importantes con pasión y creatividad. Cada imagen
                    cuenta una
                    historia única.”
                </p>
                <img class="vector" src="https://c.animaapp.com/IEFEYurz/img/vector.svg" />
                <img class="img" src="https://c.animaapp.com/IEFEYurz/img/vector-1.svg" />
                <img class="vector-2" src="https://c.animaapp.com/IEFEYurz/img/vector-2.svg" />
                <img class="vector-3" src="https://c.animaapp.com/IEFEYurz/img/vector-3.svg" />
                <p class="text-wrapper-7">Copyright 2024 Todos los derechos reservados</p>
            </div>
            <div class="overlap-group">
                <img class="line" src="https://c.animaapp.com/IEFEYurz/img/line-49.svg" />
                <div class="rectangle"></div>
                <div class="rectangle-2"></div>
                <div class="text-wrapper-8">Mi Promesa</div>
                <p class="text-wrapper-9">
                    Te garantizo fotos impresionantes que capturan perfectamente la magia de tu día especial o te
                    devolvemos tu
                    dinero.
                </p>
            </div>
            <div class="text-wrapper-10">GALERIAS</div>
            <div class="text-wrapper-11">PORTFOLIO</div>
            <div class="overlap-2">
                <div class="rectangle-3"></div>
                <div class="text-wrapper-12">Sigue Radiante</div>
                <p class="text-wrapper-13">
                    En tu día especial, capturamos cada detalle para que luzcas y te sientas increíble. Cada imagen
                    refleja la
                    belleza y la emoción de tu momento único.
                </p>
                <div class="rectangle-4"></div>
                <div class="text-wrapper-14">Pregunte Ahora</div>
                <img class="author-bio-photo" src="../../../assets/" />
                <div class="text-wrapper-15">Esto es perfecto</div>
            </div>
            <div class="overlap-3">
                <div class="text-wrapper-16">Bianca</div>
                <div class="text-wrapper-17">XV Años</div>
            </div>
            <div class="overlap-4">
                <div class="text-wrapper-18">Angelly</div>
                <div class="text-wrapper-17">XV Años</div>
            </div>
            <div class="overlap-5">
                <div class="text-wrapper-19">Evelin</div>
                <div class="text-wrapper-17">XV Años</div>
            </div>
            <img class="rectangle-5" src="https://c.animaapp.com/IEFEYurz/img/rectangle-453.svg" />
            <img class="rectangle-6" src="https://c.animaapp.com/IEFEYurz/img/rectangle-454.svg" />
            <img class="rectangle-7" src="https://c.animaapp.com/IEFEYurz/img/rectangle-455.svg" />
            <div class="overlap-6">
                <div class="text-wrapper-20">Isa</div>
                <div class="text-wrapper-21">Sesión</div>
            </div>
            <div class="overlap-7">
                <div class="text-wrapper-22">Diana</div>
                <div class="text-wrapper-21">Sesión</div>
            </div>
            <div class="overlap-8">
                <div class="text-wrapper-23">Montse</div>
                <div class="text-wrapper-21">Sesión</div>
            </div>
            <img class="rectangle-8" src="https://c.animaapp.com/IEFEYurz/img/rectangle-465.svg" />
            <img class="rectangle-9" src="https://c.animaapp.com/IEFEYurz/img/rectangle-466.svg" />
            <img class="rectangle-10" src="https://c.animaapp.com/IEFEYurz/img/rectangle-467.svg" />
            <div class="overlap-9">
                <div class="angela-diego">Angela &amp; Diego</div>
                <div class="text-wrapper-24">Boda</div>
            </div>
            <div class="overlap-10">
                <div class="daysi-jacob">Daysi &amp; Jacob</div>
                <div class="text-wrapper-24">Boda</div>
            </div>
            <div class="overlap-11">
                <div class="luis-karla">Luis &amp; Karla</div>
                <div class="text-wrapper-24">Boda</div>
            </div>
            <img class="rectangle-11" src="https://c.animaapp.com/IEFEYurz/img/rectangle-471.svg" />
            <img class="rectangle-12" src="https://c.animaapp.com/IEFEYurz/img/rectangle-472.svg" />
            <img class="rectangle-13" src="https://c.animaapp.com/IEFEYurz/img/rectangle-473.svg" />
            <div class="div-wrapper">
                <div class="text-wrapper-25">CONTACTENOS</div>
            </div>
            <img class="rectangle-14" src="https://c.animaapp.com/IEFEYurz/img/rectangle-511-1.png" />
            <div class="group">
            </div>
        </div>
    </div>
</body>

</html>